html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
	min-height: 100%;
}
body {
	font-size: 1rem;
	text-rendering: optimizeLegibility;
}
/* sets the base font size for the document; turns on kerning pairs and ligatures */
body, ul, ol, dl {
	margin: 0;
}
article, aside, audio, 
footer, header, nav, section, video {
	display: block; 
}
	/* ensures that older browsers will display HTML5 elements correctly */
	
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p { 
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
} 
	/* sets hyphenation by default on paragraphs */
	
textarea { 
	resize: vertical;
}
 /* changes textarea resizing from "both" (UA default) to vertical only */
 
table { border-collapse: collapse; }
td {
	padding: .5rem;
}
	/* causes tables to actually look like tables */
	
img { 
  display: block;
	border: none;
	max-width: 100%;
}
	/* removes outlines from linked images (for older browsers and IE), sets up images for responsive design layout */
	
input[type="submit"]::-moz-focus-inner, 
	input[type="button"]::-moz-focus-inner {
		border : 0px;
	}
	/* removes the inner border effect from focused buttons for form elements in Firefox */
	
input[type="search"] { 
	-webkit-appearance: textfield;
  appearance: textfield;
} 
input[type="submit"] { 
	-webkit-appearance:none;
  appearance: none;
}
	/* removes the OS X appearance from HTML5 search inputs and submit buttons when viewed in Safari */
	
input:required:after {
	color: #f00;
	content: " *";
}
	/* sets up required form fields with the conventional following red asterix */
input[type="email"]:invalid { 
	background: #f00;
}
	/* causes a visual alert in browsers that do client-side checking of HTML5 email field – this may already be the default in some browsers. */
	
.right { 
	float: right;
	margin-left: 2rem;
	clear: right;
}
.left { 
	float: left;
	margin-right: 2rem;
	clear: left;
}
	/* allows a quick shortcut for floating elements left and right while avoiding the “float quirk” problem */
sub, sup { 
	line-height: 0;
}

/* Gruvbox light */
html[data-theme='light'] {
    --bg: #f9f5d7;
    --bg1: #ebdbb2;
    --bg2: #d5c4a1;
    --base-content: #3c3836;
    --primary: #af3a03;
    --primary-content: #427b58;
    --secondary: #B57614;
    --secondary-content: #79740e;
    --accent: #8f3f71;
    --accent-content: #076678;
    --neutral-content: #7c6f64;
}

/* Gruvbox dark */
html[data-theme='dark'] {
    --bg: #282828;
    --bg1: #3c3836;
    --bg2: #504945;
    --base-content: #fbf1c7;
    --primary: #fe8019;
    --primary-content: #8ec07c;
    --secondary: #fabd2f;
    --secondary-content: #b8bb26;
    --accent: #d3869b;
    --accent-content: #83a598;
    --neutral-content: #a89984;
}

/* Theme from Daisy UI */
html[data-theme='cupcake'] {
    --bg: #F9F7F5;
    --bg1: #EFEAE5;
    --bg2: #E7E2DE;
    --base-content: #291334;
    --primary: #65C3C7;
    --primary-content: #034448; 
    --secondary: #EE9FBC;
    --secondary-content: #4F001D;
    --accent: #EDAF3A;
    --accent-content: #3B2600;
    --neutral: #291334;
    --neutral-content: #DFAFF7;
}

/* Theme from Daisy UI */
html[data-theme='business'] {
    --bg: #202020;
    --bg1: #23282D;
    --bg2: #1A1A1A;
    --base-content: #D2D2D2;
    --primary: #409AF5;
    --primary-content: #B8DCFF; 
    --secondary: #002537;
    --secondary-content: #7C8Fda;
    --accent: #EA6947;
    --accent-content: #3D0D00;
    --neutral: #23282D;
    --neutral-content: #C8D3E0;
}

html {
  font-family: "montserrat", sans-serif;
}

body {
    background: var(--bg);
    color: var(--base-content);
}

main {
  padding-left: 25%;
  padding-right: 25%;
}

hr {
  margin-left: 0;
  width: 100%;
  border: 1.5px solid var(--base-content);
}
	
a {
    color: var(--accent);
}

a:hover {
    text-decoration: underline;
    filter: brightness(80%);
}

td, th {
  border: 3px ridge var(--bg2);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: var(--bg1);
}

tr:hover {
  background-color: var(--bg2);
}

blockquote {
  display: flex;
  flex-flow: column wrap;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.1rem;
}

/* Reusible utility classes */
.bg-secondary {
  background: var(--bg1);
}

.accent-content {
  color: var(--accent-content);
}

.text-md {
  font-size: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hidden {
  visibility: hidden;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.cursor-pointer {
  cursor: pointer;
}

.text-xl {
  font-size: 1.3rem;
}

.footer {
  text-align: center;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--base-content);
  border-top: 1px solid var(--base-content);
}

/* ----------------- */
/* index.html styles */
/* ----------------- */

#logo {
  cursor: pointer;
  width: 100px;
  height: 100px;
  padding-right: 8px;
}

.vault-month-container div {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

.alug-title-c {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alug-title {
  padding-top: 8px;
  letter-spacing: 8px;
  font-size: 5rem;
  color: var(--primary);
}

.a-sub-c {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: var(--primary-content);
  flex-wrap: wrap;
}

.a-sub-c > div {
  display: flex;
  height: 48px;
  align-items: flex-end;
  margin-top: 8px;
}
.a-sub-c > div > h1{
  font-size: 2.5rem;
}

.fade-container {
  height: 270px;
  width: 100%;
  position: relative;
}

.fade-container div {
  position: absolute;
}

.relative {
  position: relative;
}

#stallman {
  animation-name: reverse-fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 30s;
}

#linus {
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 30s;
}

@keyframes reverse-fade {
  0% {
    opacity: 0;
  }
  47% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  94% {
    opacity: 1;
  }
  97% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  44% {
    opacity: 1;
  }
  47% {
    opacity: 0;
  }
  97% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.alug-landing-pic {
  display: flex;
  justify-content: center;
  height: 280px;
}

.pic-border {
  border: 2px solid var(--neutral-content);
}

.rule {
  width: 100%;
}

.html-link {
  font-size: 1.4rem;
  font-style: oblique;
  color: var(--primary-content);
}

.vault-year {
  cursor: pointer;
  font-size: 1.6rem;
  font-style: oblique;
  color: var(--primary);
}

.vault-year-container {
  padding-top: 16px;
  padding-bottom: 16px;
}

.vault-month-container {
  padding-left: 16px;
  font-size: 1.4rem;
  font-style: oblique;
  color: var(--primary-content);
}


.s-para {
  color:var(--base-content);
  font-size: 1.2rem;
}

/* --------------- */
/* pages/ styles   */
/* --------------- */

.flex-inline {
  display: contents;
}

.quote {
  align-self: flex-end;
}

.link-end {
  display: flex;
  justify-content: flex-end;
}

.footnote {
  color: var(--accent-content);
  font-size: 0.5rem;
  text-decoration: none;
}

.code-span {
  background: var(--bg1);
  padding-left: 4px;
  padding-right: 4px;
  color: var(--secondary);
}

.video-subtitle {
  color: var(--secondary);
  font-size: 1rem;
}

.code {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  white-space: pre;
  word-wrap: normal;
  display: block;
  border: 4px ridge var(--bg2);
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px;
  font-size: 1.1rem;
  background-color: var(--bg1);
}

.block-desc {
  display: flex;
  gap: 4px;
  flex-direction: column;
  background: var(--bg1);
  padding: 12px;
  color: var(--secondary-content);
}

.simple-code-block {
  font-size: 1.1rem;
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--bg1);
  padding: 8px;
}

.page-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.header {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.title-box {
  display: flex;
  gap: 16px;
}

.title {
  color: var(--primary);
  font-size: 3rem;
  font-weight: 900;
}

.subtitle{
  color: var(--primary-content);
  font-size: 1.5rem;
  font-weight: 500;
}

.sub-sub {
  color: var(--neutral-content);
  font-style: italic;
}

#theme-toggle {
  background: var(--base-content);
  border: 3px outset var(--neutral-content);
  width: 48px;
  height: 48px;
  margin-top: 4px;
  padding-top: 4px;
  border-radius: 50%;
}
.sun {
  color: var(--bg);
}
.moon {
  color: var(--bg);
}
.hidden {
  display: none;
}

.pic-border {
  border: 5px ridge var(--bg1);
}

.title-pic-container {
  display: flex;
  justify-content: center;
}

.title-pic {
  height: auto;
  max-width: 1000px;
}

.pic-512max {
  height: auto;
  max-width: 512px;
}

.logo-pic-container {
  display: flex;
  position: relative;
  width: 100%;
}

.another-pic-container {
  display: flex;
  position: relative;
  justify-content: center;
  max-width: 500px;
}

.larger-logo {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  background: whitesmoke;
}

.framework-logo {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 120px;
  background: whitesmoke;
}

.logo-pic {
  width: 200px;
}

.neovim-pic {
  padding-left: 16px;
  height: 200px;
}

.section {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.section-title {
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 500;
}

.section-subtitle {
  color: var(--primary-content);
  font-size: 1.3rem;
  font-weight: 500;
}

.styled-link {
  color: var(--neutral-content);
  font-style: italic;
  font-size: 1.5rem;
  font-weight: bold;
}

.section-desc {
  font-size: 1.1rem;
  width: 100%;
}

.box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.dirs-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dirs-title {
  padding: 16px;
  font-size: 1.5rem;
  color: var(--accent);
}

.dirs {
  font-size: 1.7rem;
  color: var(--secondary);
  display: flex; 
  flex-direction: column;
  width: 100px;
  align-items: center;
  gap: 10px;
}

.h-l {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.list {
  color: var(--primary-content);
  font-size: 1.3rem;
  list-style: none;
}

.ordered-list {
  color: var(--accent-content);
  font-size: 1.2rem;
}

.exiting-pic {
  width: 350px;
}

#vimrc {
  color: var(--accent-content);
  cursor: pointer;
}

.secondary-content {
  color: var(--secondary-content);
}

.small-sub {
  color: var(--primary-content);
  font-size: 1.4rem;
}

.hash {
  width: 100%;
  overflow-wrap: break-word;
  color: var(--secondary-content);
}

.vault-video {
  width: 560px;
  height: 315px;
}

@media (max-width: 600px) {
  main {
    padding-left: 4%;
    padding-right: 4%;
  }

  .vault-video {
    width: 300px;
    height: 166px;
  }
}

@media (max-width: 1400px) and (min-width: 601px) {
  main {
    padding-left: 10%;
    padding-right: 10%;
  }
}
