/* ----------------- */
/* index.html styles */
/* ----------------- */

html[data-theme='light'] {
    --bg: #f4f4f4;
    --fg: #3a3e40;
    --gray: #cccccc;
    --yellow: #FCAB10;
    --red: #F8333C; 
    --seagreen: #44AF69;
    --blue: #4d78e2;
    --blue2: #3a66aa;
}

html[data-theme='dark'] {
    --bg: #3a3e40;
    --fg: #dddddd;
    --gray: #4c5961;
    --yellow: #f2cf61;
    --red: #ED6A5A; 
    --blue: #5b95cf;
    --blue2: #a2c2be;
}

html {
  background-color: var(--bg);
}

main {
  background-color: var(--bg);
  min-height: 100vh;
}

#logo {
  width: 100px;
  height: 100px;
  padding-right: 8px;
}

.alug-title-c {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alug-title {
  letter-spacing: 8px;
  font-size: 5rem;
  color: var(--yellow);
}

.a-sub-c {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: var(--blue);
  flex-wrap: wrap;
}

.a-sub-c > div {
  display: flex;
  height: 48px;
  align-items: flex-end;
}
.a-sub-c > div > h1{
  font-size: 2.5rem;
}
.a-sub-c > div > h2{
  padding-bottom: 2px;
  font-size: 2rem;
}


.alug-landing-pic {
  display: flex;
  justify-content: center;
}

.pic-border {
  border: 2px solid var(--gray);
}

.section {
  display: flex;
  flex-direction: column;
}

.rule {
  width: 100%;
}

.vault {
  padding-top: 16px;
  color: var(--blue);
}

.vault-link {
  padding-left: 16px;
  font-size: 1.4rem;
  font-style: oblique;
  color: var(--blue2);
}

.s-para {
  color:var(--fg);
  font-size: 1.2rem;
}
