/* ----------------- */
/* index.html styles */
/* ----------------- */

html {
  background-color: var(--bg);
}

main {
  background-color: var(--bg);
  min-height: 100vh;
}

#logo {
  width: 100px;
  height: 100px;
  padding-right: 8px;
}

.alug-title-c {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alug-title {
  letter-spacing: 8px;
  font-size: 5rem;
  color: var(--orange);
}

.a-sub-c {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: var(--blue);
  flex-wrap: wrap;
}

.a-sub-c > div {
  display: flex;
  height: 48px;
  align-items: flex-end;
}
.a-sub-c > div > h1{
  font-size: 2.5rem;
}
.a-sub-c > div > h2{
  padding-bottom: 2px;
  font-size: 2rem;
}


.alug-landing-pic {
  display: flex;
  justify-content: center;
}

.pic-border {
  border: 2px solid var(--gray);
}

.section {
  display: flex;
  flex-direction: column;
}

.rule {
  width: 100%;
}

.vault {
  padding-top: 16px;
  color: var(--blue);
}

.vault-link {
  padding-left: 16px;
  font-size: 1.4rem;
  font-style: oblique;
  color: var(--orange);
}

.s-para {
  color:var(--fg);
  font-size: 1.2rem;
}
