/* generic styles */
html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
	min-height: 100%;
}
body {
	font-size: 1rem;
	text-rendering: optimizeLegibility;
}
/* sets the base font size for the document; turns on kerning pairs and ligatures */
body, ul, ol, dl {
	margin: 0;
}
article, aside, audio, 
footer, header, nav, section, video {
	display: block; 
}
	/* ensures that older browsers will display HTML5 elements correctly */
	
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p { 
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
} 
	/* sets hyphenation by default on paragraphs */
	
textarea { 
	resize: vertical;
}
 /* changes textarea resizing from "both" (UA default) to vertical only */
 
table { border-collapse: collapse; }
td {
	padding: .5rem;
}
	/* causes tables to actually look like tables */
	
img { 
  display: block;
	border: none;
	max-width: 100%;
}
	/* removes outlines from linked images (for older browsers and IE), sets up images for responsive design layout */
	
input[type="submit"]::-moz-focus-inner, 
	input[type="button"]::-moz-focus-inner {
		border : 0px;
	}
	/* removes the inner border effect from focused buttons for form elements in Firefox */
	
input[type="search"] { 
	-webkit-appearance: textfield;
  appearance: textfield;
} 
input[type="submit"] { 
	-webkit-appearance:none;
  appearance: none;
}
	/* removes the OS X appearance from HTML5 search inputs and submit buttons when viewed in Safari */
	
input:required:after {
	color: #f00;
	content: " *";
}
	/* sets up required form fields with the conventional following red asterix */
input[type="email"]:invalid { 
	background: #f00;
}
	/* causes a visual alert in browsers that do client-side checking of HTML5 email field – this may already be the default in some browsers. */
	
.right { 
	float: right;
	margin-left: 2rem;
	clear: right;
}
.left { 
	float: left;
	margin-right: 2rem;
	clear: left;
}
	/* allows a quick shortcut for floating elements left and right while avoiding the “float quirk” problem */
sub, sup { 
	line-height: 0;
}

main {
  padding-left: 10%;
  padding-right: 10%;
}

.flex {
  display: flex;
}

.footer {
  text-align: center;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--fg);
  border-top: 1px solid var(--fg);
}
